*{
    margin: 0;
    padding: 0;
    
}

#menu{
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#Linksmenu{
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}


#Linksmenu a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#Linksmenu a:hover{
    color: #0c70f2;
    font-size: 26px;
    transform: translateY(-5px);
    transition-duration: 0.5s ;
}

button{
    margin-right: 5%;
    background-color: #0c70f2;
    font-family: inter;
    border: none;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
}

button:hover{
    background-color: #29a8d6;
    transform: translateY(-10px);
    transition-duration: 0.5s ;
}