body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}

#menu{
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#Linksmenu{
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}


#Linksmenu a{
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

#Linksmenu a:hover{
    color: #0c70f2;
    font-size: 26px;
    transform: translateY(-5px);
    transition-duration: 0.5s ;
}

.Login{
    margin-right: 5%;
    background-color: #0c70f2;
    font-family: inter;
    border: none;
    font-size: 18px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
}

.Login:hover{
    background-color: #29a8d6;
    transform: translateY(-10px);
    transition-duration: 0.5s ;
}

header{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

.ChangeBackGround{
    background: black;
    padding: 6px;
}

#selectors{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

form{
    margin-top: 50px;
}

.textField input{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left:15px;
    font-weight: 600;
    background-color: rgba(255, 255, 255,0.9);
}

.textField input::placeholder{
    color: rgba(57, 57, 57, 0.5);
}

.Checkbox{
    margin-left: 8px;
}

.buttonSection{
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #0c70f2;
    font-family: inter;
    border: none;
    font-size: 18px;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
}